body {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color:rgb(236, 14, 99);
    text-align: center;
    margin-top: 100px;
    background-color: rgb(179, 90, 127);
}
.wrapper{
    background-color: #f1e7f0;
    width: 70%;
    max-width: 5.25em;
    padding: 3.12em 5em;
    position: center;
    transform: translate(97%);
    left: 50%;
    top: 1%;
    border-radius: 4em;
}
#set {
    background-color: #faa4c5;
    font-size: 1em;
    border: none;
    padding:center;
    display: block;
    margin: 1.5em auto 0 auto;
    border-radius: 2em;
    color: #0a0a0a;
}